<!DOCTYPE html>
{% load static %}

<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>hello rango!!!</title>
</head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    padding: 5px;
    text-align: center;
}
td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}
</style>

<body>

<img src="{% static "images/logo.jpg" %}" alt="hello rango" />

<h1>Category</h1>
{% if category_all %}
    <ul>
    {% for cat in category_all %}
        <li>
            <a href="/rango/category/{{ cat.slug }}" >{{ cat.name }}</a>——{{ cat.likes }}_Likes——{{ cat.views }}_Views</li>
    {% endfor %}
{% else %}
        <li>No Category...</li>
    </ul>
{% endif %}

<h1>本站 TOP5</h1>
<table id="t01">
    <tr>
        <th>Category TOP5</th>
        <th>Pages TOP5</th>
    </tr>

    <tr>
        <td>
    {% if category_t5 %}
        {% for catt5 in category_t5 %}
            <a href="/rango/category/{{ catt5.slug }}">{{ catt5.name }}</a>——{{ catt5.likes }}_likes——{{ catt5.views }}_Views<br />
        {% endfor %}
    {% else %}
             No Category...
    {% endif %}
        </td>

        <td>
    {% if page_t5 %}
        {% for pt5 in page_t5 %}
            <a href="{{ pt5.url }}" >{{ pt5.title }}</a>——{{ pt5.likes }}_likes——{{ pt5.views }}_Views<br />
        {% endfor %}
    {% else %}
         No Pages...
    {% endif %}
        </td>
    </tr>

</table>

<br />
    <a href="/rango/about/">About</a> <a href="/admin/">Admin</a><br />
</body>
</html>