{% extends 'rango/base.html' %}

{% block title_block %}
   {% if user.is_authenticated %}
    >Rango says... hello {{ user.username }}
{% else %}
    What a lovely day !!!
{% endif %}
{% endblock %}


{% block body_block %}

{#<img src="{% static "images/logo.jpg" %}" alt="hello rango" />#}

<div class="hero-unit">
    <h1>Ready to Rango</h1>


</div>

<div class="row placeholders">

    <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Category TOP5</h3>
            </div>
            {% if category_t5 %}
            <ul class="list-group">
                {% for catt5 in category_t5 %}
                    <li class="list-group-item">
                        <a href="{% url 'category' catt5.slug %}">{{ catt5.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                No Category...
            {% endif %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pages TOP5</h3>
            </div>
        {% if page_t5 %}
            <ul class="list-group">
                {% for pt5 in page_t5 %}
                    <li class="list-group-item">
                        <a href="{{ pt5.url }}" >{{ pt5.title }}</a>&nbsp;-&nbsp;{{ pt5.category.name }}&nbsp;({{ pt5.views }}&nbsp;Views)
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No Pages...
        {% endif %}
        </div>
    </div>

</div>

    <p>访问次数：{{ visits }}</p>

{% endblock %}