<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Rango</title>
    </head>

    <body>
        <h1>Login to Rango</h1>

        <form id="login_form" method="post" action="/rango/login/">
            {% csrf_token %}

            <!--
            username = request.POST.get('username')
            password = request.POST.get('password')
            -->

            <input type="text" name="username" value="请输入用户名" size="50" />
            <br />
            <input type="password" name="password" value="请输入密码" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>